<%page expression_filter="h"/>
<%namespace name='static' file='/static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from django.utils.http import urlencode
%>
<%
base_url = reverse('eolreportcertificate-export:data')
params = urlencode({'course': course.id})
eolreportcertificate_url = f"{base_url}?{params}"
%>
<script type="text/javascript" src="${static.url('eolreportcertificate/js/eolreportcertificate.js')}"></script>
<link rel="stylesheet" type="text/css" href="${static.url('eolreportcertificate/css/eolreportcertificate.css')}"/>

<div class=eolreportcertificate>
  <p>${_("Generates a report containing the issued certificates for each user in this course")}:</p>
  <button type="button" class="mt-3 mb-3" name="issued-certificates-eol" onclick="generate_eolreportcertificate(this)" data-endpoint="${ eolreportcertificate_url }">
    ${_("Download report certificate")}
  </button>
  <div class="eolreportcertificate-success-msg" id="eolreportcertificate-success-msg"></div>
  <div class="eolreportcertificate-warning-msg" id="eolreportcertificate-warning-msg"></div>
  <div class="eolreportcertificate-error-msg" id="eolreportcertificate-error-msg"></div>
</div>
